#sidebar {
    min-height: 100vh;
}

#sidebar, #content {
    padding: 30px;
}

#sidebar .form-group {
    position: fixed;
    max-width: 13%;
}

#sidebar > * {
    width: 100%;
    margin-bottom: 30px;
}

#content h5 {
    width: 100%;
}

.metrics {
    margin: 0px !important;
}

.metrics .col-md-2 {
    padding: 0px !important;
}

.metrics .col-md-2 div:first-child {
    padding: 4px;
    background-color: #f2f2f2;
    border-bottom: 1px solid #666;
}

.tab-parent {
    width: 100%;
}

.dash-graph {
    width: 100%;
    height: 500px;
}